@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
/*  Общие стили */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 910px;
  margin: 0 auto;
}
/*  Стили шапки */

.header__container {
  position: absolute;
  top: 20%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.header__block {
  text-align: center;
}
.header__icon {
  margin: 0 0 20px 0;
}
.header__text {
  color: #C2B6B6;
}
.header__subtitle {
  font-size: 30px;
  line-height: 30px;
}
.header__title {
  font-style: normal;
  font-weight: 500;
  font-size: 120px;
  line-height: 100px;
  text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.5);
  margin: 0px 0px 40px 0;
}
.header__quote {
  font-family: Playfair Display;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  font-style: italic;
}
.header__quote:after {
  content: "";
  display: block;
  margin: 40px auto;
  width: 80px;
  height: 2px;
  background: #C2B6B6;
}
.navigation {
  padding: 10px;
}
.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list__item {
  margin: 0px 50px 0px 0px;
  font-family: Lora;
  font-size: 18px;
  line-height: 32px;
  color: #1b1a1a;
  position: relative;
}
.nav-list__item:last-child {
  margin: 0;
}
.nav-list__item:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #073a49;
  bottom: 0;
  transition: all 0.3s ease 0s;
}
.nav-list__item:hover {
  color: #073a49;
}
.nav-list__item:hover:after {
  left: 0;
  width: 100%;
}
/*  Стили подвала */
.footer {
  background-color: #001019ec;
  padding: 80px 0px;
  position: relative;
}
.footer:before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 40px;
  background-color: #C2B6B6;
  left: 50%;
  top: 0;
}
.footer:after {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 40px;
  background-color: #C2B6B6;
  left: 50%;
  bottom: 0;
}
.footer__list {
  text-align: center;
  position: relative;
}
.footer__list-item {
  margin: 0px 0px 15px 0px;
  font-family: Lora;
  font-size: 22px;
  line-height: 17px;
  position: relative;
  color: #C2B6B6;
}
.footer__list-item a {
  color: #C2B6B6;
}
.footer__list-item:last-child {
  margin: 0 0 20px 0;
}
.footer__list-item:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  color: #C2B6B6;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__list-item:hover {
  color: #C2B6B6;
}
.footer__list-item:hover:after {
  left: 0;
  width: 100%;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social__item {
  margin: 0px 20px 0px 0px;
}
.footer__social__item:last-child {
  margin: 0;
}
.footer__social__item img {
  max-width: 40px;
}
.footer__numbers {
  color: #C2B6B6;
  text-align: center;
  font-family: Lora;
}
.footer__numbers p {
  margin: 0px 0 10px 0;
}
.footer__numbers p:last-child {
  margin: 0px 0 20px 0;
}
/*  Стили index.html */
.infoblock {
  padding: 40px 0px 80px 0;
}
.infoblock__maintext {
  font-family: Lora;
  font-size: 20px;
  line-height: 38px;
  text-align: justify;
  color: #1b1a1a;
  margin: 0 0 40px 0;
}
.infoblock__maintext:before {
  content: "";
  display: block;
  margin: 0px auto 40px;
  width: 400px;
  height: 1px;
  background: #073a49;
}
.infoblock__cards-column {
  margin: 0px 0px 40px 0px;
}
.infoblock__image {
  text-align: center;
}

.column__image {
  margin: 0px 0px 30px 0px;
}
.column__image img {
  max-width: 100%;
}
.column__title {
  color: #1b1a1a;
  font-family: Lora;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}
.column__title:hover {
  font-size: 32px;
}
.column__text {
  color: #1b1a1a;
  font-family: Lora;
  font-size: 18px;
  line-height: 32px;
}
/*  Стили places.html */
.places {
  padding: 80px 0px;
}
.places__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0px -25px;
}
.places__column {
  padding: 30px 25px;
  flex: 0 1 50%;
}
.places__image img {
  max-width: 100%;
  height: 287px;
  border-radius: 5%;
}
.places__title {
  margin: 20px 0px 20px 0px;
  color: #1b1a1a;
  font-family: Lora;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.places__link {
  color: #1b1a1a;
  font-family: Lora;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: underline;
}
/*  Стили tours.html */
.tours {
  padding: 80px 0;
}
.tours__text {
  font-family: Lora;
  font-size: 20px;
  line-height: 38px;
  text-align: justify;
  color: #1b1a1a;
  margin: 0 0 40px 0;
}
.tours__text:before {
  content: "";
  display: block;
  margin: 0px auto 40px;
  width: 400px;
  height: 1px;
  background: #073a49;
}
.tours__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -25px;
}
.tours__column {
  padding: 30px 25px;
  flex: 0 1 50%;
}
.tours__image img {
  max-width: 100%;
  height: 287px;
  border-radius: 5%;
}
.tours__title {
  margin: 20px 0px 10px 0px;
  color: #1b1a1a;
  font-family: Lora;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.tours__data {
  margin: 0px 0 30px 0;
}
.tours__price {
  color: #b13b3b;
  font-family: Lora;
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
}
/*  Стили contacts.html */
.contacts {
  padding: 80px 0px 40px;
}
.contacts__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__icon img {
  max-width: 200px;
}
.contacts__text {
  margin: 0px 0px 0px 30px;
}
.contacts__maintext {
  font-family: Lora;
  font-size: 20px;
  line-height: 38px;
  text-align: justify;
  color: #1b1a1a;
  margin: 0 0 70px 0;
}
.contacts__maintext:before {
  content: "";
  display: block;
  margin: 0px auto 40px;
  width: 400px;
  height: 1px;
  background: #073a49;
}
.contacts__numbers {
  margin: 0px 0px 20px 0px;
  font-family: Lora;
  font-size: 18px;
  line-height: 12px;
  color: #1b1a1a;
}
.contacts__date {
  font-family: Lora;
  font-size: 18px;
  line-height: 12px;
  color: #1b1a1a;
}